Repository genexuslabs/design-systems, pull requests merged in 2025-01, with the labels that each got.

#458 `[showcase][input]` Add filter, and fix Icon case
  packages/showcase/package-lock.json
  packages/showcase/src/app/components/input/input.component.html
  packages/showcase/src/app/components/input/input.component.ts
  packages/showcase/src/app/components/input/metadata.ts
Labels: update, showcase

#459 `[mercury][tabular-grid]` Recover deleted tokens
  packages/mercury/src/components/tabular-grid/_tabular-grid-styles.scss
Labels: fix, mercury

#461 `[showcase]` Remove WA for using icons
  packages/showcase/package-lock.json
  packages/showcase/package.json
  packages/showcase/src/app/app.component.html
  packages/showcase/src/app/app.component.ts
  packages/showcase/src/app/components/button/button.component.html
  packages/showcase/src/app/components/button/button.component.ts
  packages/showcase/src/app/components/checkbox/checkbox.component.html
  packages/showcase/src/app/components/checkbox/checkbox.component.ts
  packages/showcase/src/app/components/combo-box/combo-box.component.html
  packages/showcase/src/app/components/combo-box/combo-box.component.ts
  packages/showcase/src/app/components/icon/icon.component.html
  packages/showcase/src/app/components/icon/icon.component.ts
  packages/showcase/src/app/components/input/input.component.html
  packages/showcase/src/app/components/input/input.component.ts
  packages/showcase/src/app/components/tree-view/tree-view.component.html
  packages/showcase/src/app/components/tree-view/tree-view.component.ts
  packages/showcase/src/app/gemini-migration/gemini-migration.component.html
  packages/showcase/src/app/gemini-migration/gemini-migration.component.ts
  packages/showcase/src/main.ts
Labels: showcase

#463 @genexus/mercury 0.13.5 and @genexus/unanimo 0.25.1
  package.json
  packages/mercury/package.json
  packages/unanimo/package-lock.json
  packages/unanimo/package.json
Labels: dependencies

#464 Improve readme
  packages/mercury/README.md
Labels: documentation, mercury

#465 `[mercury][tabular-grid]` Stylize bar-resize-split and Inherit `.tabular-grid-cell` font-size on control items.
  packages/mercury/src/components/tabular-grid/_tabular-grid-styles.scss
  packages/mercury/src/components/tabular-grid/_tokens-grid.scss
Labels: feature, mercury

#460 `[showcase][tabular-grid]` Include all cases
  packages/showcase/package-lock.json
  packages/showcase/src/app/components/tabular-grid/classes.ts
  packages/showcase/src/app/components/tabular-grid/metadata.ts
  packages/showcase/src/app/components/tabular-grid/tabular-grid.component.html
  packages/showcase/src/app/components/tabular-grid/tabular-grid.component.scss
  packages/showcase/src/app/components/tabular-grid/tabular-grid.component.ts
  packages/showcase/src/common/html.ts
  packages/showcase/src/user-controls/code-snippet/code-snippet.scss
Labels: documentation, enhancement, showcase

#467 `[showcase][gemini-migration]` Add more gemini cases
  packages/showcase/src/app/gemini-migration/gemini-migration.component.html
  packages/showcase/src/app/gemini-migration/gemini-migration.component.ts
  packages/showcase/src/app/gemini-migration/gemini-migration.scss
  packages/showcase/src/app/gemini-migration/metadata.ts
  packages/showcase/src/app/gemini-migration/models.ts
  packages/showcase/src/services/router-links.service.ts
Labels: documentation, mercury, showcase

#468 `[showcase][gemini-migration]`Apply PR review suggestions
  packages/showcase/src/app/gemini-migration/gemini-migration.component.html
  packages/showcase/src/app/gemini-migration/metadata.ts
Labels: documentation, mercury, showcase
