Repository genexuslabs/design-systems, pull requests merged in 2025-02, with the labels that each got.

#470 `[mercury][button]` Unify button destructive classes with base class
  packages/mercury/src/base/button/_button-styles.scss
  packages/mercury/src/base/button/_button-tokens.scss
  packages/mercury/src/icons/_button.scss
  packages/showcase/src/app/components/button/button.component.html
  packages/showcase/src/app/components/button/metadata.ts
Labels: mercury, breaking changes

#471 `[mercury][tabular-grid]` Make controls inherit font-styles
  packages/mercury/src/components/chat/_chat-styles.scss
  packages/mercury/src/components/combo-box/_combo-box-styles.scss
  packages/mercury/src/components/input/_input-styles.scss
  packages/mercury/src/components/tabular-grid/_tabular-grid-styles.scss
  packages/mercury/src/config/_tree-controls.scss
Labels: fix, mercury

#473 Add support for multi-state icons in the `ch-action-menu-render` and bump minimum version for `@genexus/chameleon-controls-library`
  packages/mercury/package.json
  packages/mercury/pnpm-lock.yaml
  packages/mercury/src/assets-manager.ts
  packages/showcase/package.json
  packages/showcase/src/app/chameleon-compatibility/mercury-compatibility-table.ts
Labels: feature, dependencies, breaking changes, showcase

#475 @genexus/mercury 0.15.0
  package.json
  packages/mercury/package.json
Labels: dependencies

#476 `[mercury]` Update controls block-size value
  packages/mercury/src/base/button/_button-styles.scss
  packages/mercury/src/icons/_button.scss
  packages/mercury/src/tokens/semantic/_control.scss
  packages/showcase/src/app/app.component.html
  packages/showcase/src/app/components/button/button.component.html
  packages/showcase/src/app/components/button/metadata.ts
Labels: fix, mercury

#481 `[mercury][label][combo-box]`Fix label font-size, and apply `font-style:italic` to combo-box placeholder
  packages/mercury/showcase/all.css
  packages/mercury/showcase/scss/mercury.scss
  packages/mercury/src/base/label/_label-styles.scss
  packages/mercury/src/components/combo-box/_combo-box-styles.scss
Labels: enhancement, fix, mercury

#483 Refactor monorepo and package managment to use Lerna and Yarn, instead of npm/pnpm
  .github/workflows/install-and-deploy.yml
  .gitignore
  README.md
  lerna.json
  package.json
  packages/mercury/package.json
  packages/mercury/pnpm-lock.yaml
  packages/showcase/angular.json
  packages/showcase/package-lock.json
  packages/showcase/package.json
  packages/svg-sass-generator/package.json
  packages/svg-sass-generator/pnpm-lock.yaml
  packages/unanimo/package-lock.json
  packages/unanimo/package.json
  packages/unanimo/pnpm-lock.yaml
  pnpm-lock.yaml
  yarn.lock
Labels: documentation, enhancement, dependencies, showcase

#484 `[mercury]` Fix placeholder styles not working properly in the combo-box
  packages/mercury/src/components/combo-box/_combo-box-styles.scss
Labels: fix, mercury

#485 `[mercury]` Bump minimum version for Chameleon
  package.json
  packages/mercury/package.json
  packages/mercury/src/components/combo-box/_combo-box-styles.scss
  packages/showcase/package.json
  packages/showcase/src/app/chameleon-compatibility/mercury-compatibility-table.ts
  yarn.lock
Labels: documentation, dependencies, breaking changes

#486 @genexus/mercury 0.16.0
  package.json
  packages/mercury/package.json
Labels: dependencies
